{% extends '__base__.html' %}
{% load staticfiles %}

{% block prijava %}

 <ul class = "nav navbar-nav navbar-left">
    
{% if user.is_authenticated %}
<li>
<a href = "{% url 'KmetApp:logOut' %}">Log Out </a>

{% else %}
<li>
<a href = "{% url 'KmetApp:prijava' %}">Prijava </a>

<li>
<a href = "{% url 'KmetApp:reg' %}">Registracija</a>



{% endif %}
</ul>
{% endblock %}



{% block hdr %}
    <header class="intro-header" style="background-image: url({% static 'img/prijava-bg.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Urejanje profila</h1>
                        <hr class="small">
                        <span class="subheading">Tukaj se lahko vsak uporabnik popravi svoje podatke.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}
{% block content %}

 <!-- Main Content -->
    <div class="container">

        <div class="row">

                <div class="thumbnail">
                   <img src="{{oglas.slika.url}}" width="750px"></img>
                    <div class="caption-full">
                        <h4 class="pull-right">{{oglas.cena_O}} €/kg</h4>
                        <h4><a href="#">{{oglas.ime_O}}</a>
                        </h4>
                       {{oglas.opis_O}}
                    </div>
                  
                </div>
        </div>

    </div>


{% endblock %}